.button {
    background-color: #ccc;
    border: none;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 4px;
    transition: all .3s;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
}

.button:hover {
    background-color: rgb(184, 184, 184);
    transition: all .3s;
}

.primary {
    background-color: var(--color-primary);
    color: white;
}

.primary:hover {
    background-color: var(--color-primary-light);
}

.secondary {
    background-color: transparent;
    color: var(--color-secondary);
}

.secondary:hover {
    background-color: rgba(0,0,0,0.1);
}